{% extends "base.html" %}
{% set active_page = 'message' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- report -->
    <div class="row">
        <div class="col-md-12">
            <!-- 오늘의 증시 -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-primary"><i
                                        class="fas fa-caret-down"></i> 6.57(-0.21%)</span>
                                <h5 class="description-header">3,084.67</h5>
                                <span class="description-text">코스피</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-primary"><i
                                        class="fas fa-caret-down"></i> 2.93(-0.30%)</span>
                                <h5 class="description-header">957.85</h5>
                                <span class="description-text">코스닥</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-danger"><i
                                        class="fas fa-caret-up"></i> 237.52(0.76%)</span>
                                <h5 class="description-header">31,385.76</h5>
                                <span class="description-text">다우존스</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <div class="description-block">
                                <span class="description-percentage text-danger"><i
                                        class="fas fa-caret-up"></i> 0.00(0%)</span>
                                <h5 class="description-header">13,987.64</h5>
                                <span class="description-text">나스닥</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="description-header">
                        코스피 차트
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div id="chart" height="630"
                                     style="height: 180px; display: block; width: 100%;" max-width="1190px"></div>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.report -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-outline card-tabs">
              <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="post-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="spacinfo-tab" data-toggle="pill" href="#spacinfo" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">SPAC정보</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="stock-wind-tab" data-toggle="pill" href="#wind" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">가쉽</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="discussion-tab" data-toggle="pill" href="#discussion" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">종목토론</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="hot-post-tab" data-toggle="pill" href="#hot-post" role="tab" aria-controls="custom-tabs-three-settings" aria-selected="false">인기글</a>
                  </li>
                </ul>
              </div>
                <div class="card-body">
                    <div class="tab-content" id="tabContent">
                        <div class="tab-pane fade active show" id="spacinfo" role="tabpanel"
                             aria-labelledby="spacinfo-tab">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for item in spacinfo_data %}
                                        <tr onclick="location.href='/post/{{ item.category_code }}/{{ item.post_id }}'">
                                            <td class="mailbox-subject">
                                                <p class="m-0"><b>{{ item.subject }}</b></p>
                                                <p class="m-0">
                                                    [{{ item.category_name }}] {{ item.user_name }}
                                                    <span class="float-right">
                                    {{ item.post_create_time }}
                                </span>
                                                </p>
                                            </td>
                                            {#<td class="mailbox-attachment"></td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="wind" role="tabpanel"
                             aria-labelledby="stock-wind-tab">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for item in stock_wind %}
                                        <tr onclick="location.href='/post/{{ item.category_code }}/{{ item.post_id }}'">
                                            <td class="mailbox-subject">
                                                <p class="m-0"><b>{{ item.subject }}</b></p>
                                                <p class="m-0">
                                                    [{{ item.category_name }}] {{ item.user_name }}
                                                    <span class="float-right">
                                    {{ item.post_create_time }}
                                </span>
                                                </p>
                                            </td>
                                            {#<td class="mailbox-attachment"></td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="discussion" role="tabpanel"
                             aria-labelledby="discussion-tab">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for item in stock_discussion %}
                                        <tr onclick="location.href='/post/{{ item.category_code }}/{{ item.post_id }}'">
                                            <td class="mailbox-subject">
                                                <p class="m-0"><b>{{ item.subject }}</b></p>
                                                <p class="m-0">
                                                    [{{ item.category_name }}] {{ item.user_name }}
                                                    <span class="float-right">
                                    {{ item.post_create_time }}
                                </span>
                                                </p>
                                            </td>
                                            {#<td class="mailbox-attachment"></td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hot-post" role="tabpanel"
                             aria-labelledby="hot-post-tab">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for item in stock_discussion %}
                                        <tr onclick="location.href='/post/{{ item.category_code }}/{{ item.post_id }}'">
                                            <td class="mailbox-subject">
                                                <p class="m-0"><b>{{ item.subject }}</b></p>
                                                <p class="m-0">
                                                    [{{ item.category_name }}] {{ item.user_name }}
                                                    <span class="float-right">
                                    {{ item.post_create_time }}
                                </span>
                                                </p>
                                            </td>
                                            {#<td class="mailbox-attachment"></td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename= 'dist/js/demo.js') }}"></script>
    {#<script src="{{ url_for('static', filename= 'dist/js/pages/dashboard2.js') }} "></script>#}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
                type: 'candlestick',
                toolbar: {
                    show: false,
                },
                height: 180,
                width: '100%',
            },
            series: [{
                name: 'sales',
                data: [
                    {
                        x: '2021.01.01',
                        y: [51.98, 56.29, 51.59, 53.85]
                    },
                    {
                        x: '2021.01.02',
                        y: [53.66, 54.99, 51.35, 52.95]
                    },
                    {
                        x: '2021.01.03',
                        y: [51.98, 56.29, 51.59, 53.85]
                    },
                    {
                        x: '2021.01.04',
                        y: [51.98, 56.29, 51.59, 53.85]
                    },
                    {
                        x: '2021.01.05',
                        y: [53.66, 54.99, 51.35, 52.95]
                    },
                    {
                        x: '2021.01.06',
                        y: [51.98, 56.29, 51.59, 53.85]
                    },
                    {
                        x: '2021.01.07',
                        y: [53.66, 54.99, 51.35, 52.95]
                    },
                    {
                        x: '2021.01.08',
                        y: [51.98, 56.29, 51.59, 53.85]
                    },
                    {
                        x: '2021.01.09',
                        y: [53.66, 54.99, 51.35, 52.95]
                    },
                ]
            }],
        }
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
        $(document).ready(function () {
        });
    </script>
{% endblock %}