{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title m-0">{{ post_data.subject }}</h5>
                </div>
                <div class="card-body">
                    {{ post_data.contents|safe}}
                </div>
            </div>
    </div>
    <!-- /.row -->
{% endblock %}
{% block javascripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}