<div class="col-md-12">
    <div class="card">
        <div class="card-body p-0">
            <div class="mailbox-controls">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" onclick="location.href='/post/{{ category }}'">
                    글쓰기
                </button>
                <div class="float-right">
                    <span class="p-1">
                        <input type="number" id="cur_page" value="{{ current_page }}" maxlength="6" style="border:1px solid #ccc;width: 45px;text-align: right;padding: 0 5px 0 0;">
                         / {{ total_pages }}
                    </span>
                    <div class="btn-group">
                        {% if current_page != 1 %}
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover">
                    <tbody>
                    {% for item in post_data %}
                        <tr onclick="location.href='/post/{{ item.category_code }}/{{ item.post_id }}'">
                            <td class="mailbox-subject">
                                <p class="m-0"><b>{{ item.subject }}</b></p>
                                <p class="m-0">
                                    [{{ item.category_name }}] {{ item.user_name }}
                                    <span class="float-right">
                                    {{ item.post_create_time }}
                                </span>
                            </p>
                        </td>
                        {#<td class="mailbox-attachment"></td>#}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">
            <div class="mailbox-controls">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" onclick="location.href='/post/{{ category }}'">
                    글쓰기
                </button>
                <div class="float-right">
                    1-50/200
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>