{% extends "base_login.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="register-box">
    <div class="login-logo">
        <b>RESPAC</b>
    </div>

    <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">신규회원 가입</p>
      <p class="login-box-msg">비밀번호는 암호화 되어 <br> 운영자도 확인할 수 없습니다.</p>

      <form action="/user" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="이름" name="user_name" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="이메일" name="user_id" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="패스워드" name="password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="패스워드 확인" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
{#            <div class="icheck-primary">#}
{#              <input type="checkbox" id="agreeTerms" name="terms" value="agree">#}
{#              <label for="agreeTerms">#}
{#               I agree to the <a href="#">terms</a>#}
{#              </label>#}
{#            </div>#}
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" onsubmit="return validation()" class="btn btn-primary btn-block">회원가입</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google
        </a>
      </div>

      <a href="login.html" class="text-center">이미 회원가입이 되어 있다면..</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
{% endblock %}
{% block javascripts %}
    {{ super() }}
    <script>
        function validation() {
            return true;
        };

        $(document).ready(function () {
        });
    </script>
{% endblock %}